<!DOCTYPE html>
<html>
    <head>
        <title>Blogs Your Uncle</title>
        <h1>Blogs Your Uncle</h1>
        <style>
            .error {
                color: red;
            };
            .form {
                background-color: lightseagreen;
                padding: 20px;
                margin:0 auto;
                width: 540px;
                font: 16px san-serif;
                border-radius: 10px;
            };
            .textarea {
                margin: 10px 0;
                width: 540px;
                height: 120px;
            };
        </style>
    </head>
<body>

    <header>
        <nav>
            <a href='/blog'>Main Blog</a>
            <a href='/newpost'>Add an Entry</a>
        </nav>
    </header>

    {% block content %}
    {% endblock %}
</body>
</html>
